body {
  background-image: url(../images/grumpy.jpg);
  background-size: 100%;
  font-family: 'Anton', sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: grey;
}
li {
  list-style-type: none;
}
#principal {
  border: 3px solid black;
  margin: 0 auto;
  width: 75%;
  background-color: white;
}
#entete {
  border-bottom: 3px solid black;
  background-color: red;
  height: 100%;
  margin-top: 0px;
}
#entete h1,
#entete h2 {
  color: black;
}
footer {
  border-top: 3px solid black;
  font-size: 0.7em;
  background-color: #696969;
  height: 100%;
}
footer p {
  text-align: center;
}
footer a {
  font-size: 0.8em;
  color: #DCDCDC;
}
main {
  display: flex;
  flex: row nowrap;
  justify-content: center;
  background-color: #A9A9A9;
  font-family: 'Lobster', cursive;
  font-size: 1.2em;
}
main div {
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  margin-top: 5px;
}
main div:last-of-type {
  border-bottom: none;
}
main div img {
  width: 30%;
  height: 30%;
}
h2,
h1 {
  text-align: center;
}
#navGlobal {
  width: 100%;
  border-top: 3px solid black;
}
#navGlobal ul {
  display: flex;
  justify-content: space-around;
}
#navGlobal ul li {
  width: 200px;
  height: 50px;
  background-image: url(../images/BlueRoundedButton.png);
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
