body {
  background-color: grey;
  font-family: 'Anton', sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
#principal {
  border: 3px solid black;
  margin: 0 auto;
  width: 75%;
  background-color: white;
}
#entete {
  border-bottom: 3px solid black;
}
footer {
  border-top: 3px solid black;
}
main {
  display: flex;
  flex: row nowrap;
  justify-content: center;
}
#navGlobal {
  width: 100%;
}
#navGlobal ul {
  display: flex;
  justify-content: space-around;
}
